<body class="is-preload">
  <!-- Footer-->
  <section id="footer">
    <div class="container">
      <ul class="icons">
        <li class="list-inline-item">
          <a
            href="https://www.instagram.com/rafaelmorales448?igsh=MWVjdGl5NW85cGN5Yg%3D%3D"
            class="icon"
          >
            <span class="fa-stack fa-lg">
              <i class="fas fa-circle fa-stack"></i>
              <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </li>
        <li>
          <a href="https://github.com/RafaelMoralesGallegos" class="icon"
            ><span class="fa-stack fa-lg">
              <i class="fas fa-circle fa-stack"></i>
              <i class="fab fa-github fa-stack-1x fa-inverse"></i> </span
          ></a>
        </li>
        <li>
          <a
            href="https://www.linkedin.com/in/rafael-morales-4a168724b/"
            class="icon"
            ><span class="fa-stack fa-lg">
              <i class="fas fa-circle fa-stack"></i>
              <i class="fab fa-linkedin fa-stack-1x fa-inverse"></i> </span
          ></a>
        </li>
      </ul>
      <ul class="copyright">
        <li>&copy; Rafael Morales Gallegos. All rights reserved.</li>
        <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
      </ul>
    </div>
  </section>
  <!-- Core theme JS-->
  <script src="{{ url_for('static', filename='js/breakpoints.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/browser.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.scrollex.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.scrolly.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
  <script src="{{ url_for('static', filename='js/util.js') }}"></script>
</body>
