<section id="header">
  <header>
    <span class="image avatar"
      ><img
        src="{{ url_for('static', filename='assets/img/avatar.png') }}"
        alt="Rafael's Profile Image"
    /></span>
    <h1 id="logo">Rafael Morales</h1>
    <p>Data & Valuation Analyst<br />Python Developer</p>
  </header>
  <nav id="nav">
    <ul>
      <li>
        <a
          href="{{ url_for('get_home') }}"
          class="{% if active_page == 'about' %}active{% endif %}"
          >About</a
        >
      </li>
      <li>
        <a
          href="{{ url_for('skills') }}"
          class="{% if active_page == 'skills' %}active{% endif %}"
          >Things I Can Do</a
        >
      </li>
      <li>
        <a
          href="{{ url_for('projects') }}"
          class="{% if active_page == 'projects' %}active{% endif %}"
          >A Few Accomplishments</a
        >
      </li>
      <li>
        <a
          href="{{ url_for('contact') }}"
          class="{% if active_page == 'contact' %}active{% endif %}"
          >Contact</a
        >
      </li>
    </ul>
  </nav>
</section>
