<link
  rel="icon"
  href="{{ url_for('static', filename='assets/favicon.ico') }}"
/>

<body>
  {% include "header.html" %}
  <header>
    <!-- Page Header-->
    <div class="container position-relative px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
          <div class="site-heading">
            <h1>Rafael's Blog</h1>
            <span class="subheading">A collection of random musings.</span>
          </div>
        </div>
      </div>
    </div>
  </header>
  {% include 'footer.html' %}
</body>
