{% extends 'base.html' %} {% block subtitle %}
<h2>Hi. I'm Rafael Morales</h2>
<h3>Somethings you should know about me</h3>
{% endblock %} {% block main_text %}
<p style="text-align: justify">
  Detail-oriented Python Developer with expertise in creating user-friendly GUI
  applications and executable tools using ttkbootstrap for vibrant theming.
  Experienced in automating workflows and financial modeling in Excel through
  OpenPyXL, complemented by proficiency in Git for version control. Skilled in
  web automation with Selenium and currently expanding knowledge in Flask and
  API development to build robust web applications. Adept at delivering
  innovative solutions that streamline processes and add value to organizational
  objectives.
</p>
{% endblock %}
