{% extends 'base.html' %} {% block subtitle %}
<h3>Things I Can Do</h3>
{% endblock %} {% block main_text %}
<p>
  I specialize in Python development for GUI applications. Using various
  libraries I develop code so that users have a smooth and great interaction
  with the program.
</p>
<ul class="feature-icons">
  <li class="icon solid fa-file-excel">OpenPyXL</li>
  <li class="icon solid fa-window-maximize">Tkinter</li>
  <li class="icon solid fa-eye">TkBootstrap</li>
  <li class="icon solid fa-mouse">Selenium</li>
  <li class="icon solid fa-flask">Flask</li>
  <li class="icon solid fa-database">PostgreSQL</li>
</ul>
{% endblock %}
